:root {
  --md-primary-fg-color: #0482D8;
  --md-primary-fg-color--dark: #035893;
}

:root > * {
  --md-footer-bg-color: #0482D8;
}

.md-typeset a {
 color: #0482D8;
}

.md-nav__link--active, .md-nav__link:active {
 color: #0482D8;
}

.md-typeset .superfences-tabs > label:hover {
 color: #0482D8 !important;
}

code,
.codehilite pre {
  font-weight: bold;
}

.md-header-nav__title {
  font-family: 'Montserrat';
}

/* Montserrat Extra Bold
 * Used for all bold number, scoreboard, count displays
 */
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('/fonts/montserrat/Montserrat-Bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Repo icon CSS */
.md-source__icon {
  font-size: 24px;
  text-align: center;
  margin-top: 14px;
  height: 1.9rem;
}

.md-footer-about {
  margin: auto .6rem;
  padding: .4rem 0;
  font-size: .64rem;
}

/* Mobile CSS */

@media screen and (max-width: 1219px) {
  .md-nav--primary .md-nav__title[for="__drawer"] {
    font-size: 1.2rem;
    font-family: 'Montserrat';
  }
}
